.configPage .layui-table-view .layui-table-box .layui-table-header span {
	font-weight: 600;
}

.configPage .layui-table-view .layui-table-box tr .item {
	width: 100px;
	min-width: 100px;
	border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 1px;
}

.configPage .layui-table-view .layui-table-box tr .name {
	min-width: 180px;
}

.configPage .layui-table-view .layui-table-box tr .value {
	min-width: 200px;
}

.configPage .layui-table-view .layui-table-box tr .memo {
	width: 100%;
}

.configPage .layui-table-view .layui-table-box tr .modifier {
	min-width: 120px;
}

.configPage .layui-table-view .layui-table-box tr .time-item {
	min-width: 200px;
}

.configPage .layui-table-view .layui-table-box .config-data {
	overflow-y: auto;
	overflow-x: hidden;
	height: 658px;
}

.edit-view {
    padding: 15px;
}

.edit-view .edit-box {
	margin: 5px;
}

.edit-view .edit-box .edit-item>div {
    margin: 10px 0;
}

