.rolePage .operating {
	margin: 0px 15px;
}

.rolePage .operating .layui-btn-group button {
	margin-right: 10px !important;
}

.rolePage .layui-table-view .layui-table-box .layui-table-header span {
	font-weight: 600;
}

.rolePage .layui-table-view .layui-table-box tr .item {
	width: 100px;
	min-width: 100px;
	border-top-width: 0;
	border-left-width: 0;
	border-right-width: 0;
	border-bottom-width: 1px;
}

.rolePage .layui-table-view .layui-table-box tr .name {
	min-width: 180px;
}

.rolePage .layui-table-view .layui-table-box tr .value {
	min-width: 200px;
}

.rolePage .layui-table-view .layui-table-box tr .memo {
	width: 100%;
}

.rolePage .layui-table-view .layui-table-box tr .creator, .rolePage .layui-table-view .layui-table-box tr .modifier
	{
	min-width: 120px;
}

.rolePage .layui-table-view .layui-table-box tr .time-item {
	min-width: 200px;
}

.rolePage .layui-table-view .layui-table-box .role-data {
	overflow-y: auto;
	overflow-x: hidden;
	height: 620px;
}

.edit-view {
	padding: 15px;
}

.edit-view .edit-box .edit-item>div {
	margin: 10px 0;
}

.edit-view .edit-box .layui-form .layui-form-item .layui-input-block {
	margin-left: 0px;
}

.edit-view .edit-box .layui-form .layui-form-item .layui-input-block textarea {
	resize: none;
}