.vipPage .operating {
	margin: 0px 15px;
}

.vipPage .operating .layui-btn-group button {
	margin-right: 10px !important;
}

.vipPage .layui-table-view .layui-table-box .layui-table-header span {
	font-weight: 600;
}

.vipPage .layui-table-view .layui-table-box tr .item {
	width: 100px;
	min-width: 100px;
	max-width: 100px;
	border-top-width: 0;
	border-left-width: 0;
	border-right-width: 0;
	border-bottom-width: 1px;
}

.vipPage .layui-table-view .layui-table-box tr .layui-nav-img {
	width: 25px;
	height: 25px;
}

.vipPage .layui-table-view .layui-table-box tr .photourl {
	min-width: 70px;
	max-width: 70px;
}

.vipPage .layui-table-view .layui-table-box tr .code {
	min-width: 140px;
	max-width: 140px;
}

.vipPage .layui-table-view .layui-table-box tr .name {
	min-width: 160px;
	max-width: 160px;
}

.vipPage .layui-table-view .layui-table-box tr .mobilephone {
	min-width: 140px;
	max-width: 140px;
}

.vipPage .layui-table-view .layui-table-box tr .department {
	min-width: 160px;
	max-width: 160px;
}

.vipPage .layui-table-view .layui-table-box tr .memo {
	width: 100%;
}

.vipPage .layui-table-view .layui-table-box tr .time-item {
	min-width: 200px;
	max-width: 200px;
}

.vipPage .layui-table-view .layui-table-box .vip-data {
	overflow-y: auto;
	overflow-x: hidden;
	height: 605px;
}

/* .edit-view .edit-box {
	column-count: 5;
	-webkit-column-count: 5;
} */

.edit-view .edit-item {
	min-width: 190px;
	vertical-align: top;
	display: inline-block;
}

.edit-view .edit-item[image='1'] {
	text-align: center;
	    float: left;
}

.edit-view .edit-item>div {
	display: inline-block;
	    vertical-align: top;
}

.edit-view .edit-item .edit-title {
	    width: 70px;
    text-align: right;
}

.edit-view .edit-item .edit-value {
	width: 120px;
	max-width: 120px;
}

.edit-view .edit-item .edit-value span {
	width: 120px;
    display: block;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;
}

.edit-view .edit-item[need='1'] .edit-title label:before {
	display: none;
}