body {
	font-size: 14px;
	font-family: Microsoft YaHei;
}

.layui-layer-content::-webkit-scrollbar {
	width: 8px;
	height: 2px;
	background: #F0F0F0;
	border-radius: 10px;
}

.layui-layer-content::-webkit-scrollbar-thumb {
	display: block;
	width: 8px;
	margin: 0 auto;
	border-radius: 10px;
	background: #e2e2e2;
}

.layui-layer .layui-layer-btn {
	border-top: 1px solid #eee;
}

.system-name {
	font-weight: 800;
}

a {
	color: #01AAED;
}

.home {
	overflow: auto;
}

.home .nav-bar {
	margin: 6px 15px;
	line-height: 30px;
}

.layTable {
	display: table;
}

.layTableCell {
	display: table-cell;
}

.layui-table-cell {
	height: auto;
}

.operating {
	padding-top: 10px;
}

.selected {
	background-color: #f2f2f2;
}

.pageTable {
	height: 580px;
}

.layPage {
	width: 100%;
	text-align: right;
}

.layui-carousel-ind ul {
	background-color: rgba(0, 0, 0, 0);
}

.layui-carousel-ind ul:hover {
	background-color: rgba(0, 0, 0, 0);
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

input[type="number"] {
	-moz-appearance: textfield;
}

.layui-table-main .layui-table .item {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-break: keep-all;
}

.layui-icon-ok {
	color: #5FB878;
}

/* .layui-icon-close {
	color: #FF5722;
} */