body {
	font-size: 14px;
    font-family: Microsoft YaHei;
}

.system-name {
    font-weight: 800;
}

a {
    color: #01AAED;
}

.home {
    overflow: auto;
}

.home .nav-bar {
    margin: 6px 15px;
}

.layTable {
    display: table;
}

.layTableCell {
    display: table-cell;
}

.selected {
	background-color: #f2f2f2;
}

.pageTable {
	height: 570px;
}

.layPage {
    width: 100%;
    text-align: right;
}