.edit-view {
    padding: 15px;
}

.edit-view .edit-box {
	margin: 5px;
}

.edit-view .edit-box .edit-item>div {
    margin: 10px 0;
}

.edit-view .edit-box .edit-item .edit-value .value {
	color: gray;
}

.edit-view .edit-box .edit-item .layui-circle-img {
	width: 100px;
    height: 100px;
    border-radius: 50%;
}

.edit-view .edit-box .layui-form .layui-form-item .layui-input-block {
	margin-left: 0px;
}

.edit-view .edit-box .layui-form .layui-form-item .layui-input-block textarea {
	resize: none;
}

.edit-view .edit-box .layui-form .layui-form-item .selectBox {
	width: 100%;
}

.edit-view .edit-box .layui-form .layui-form-item .selectBox .layui-unselect input {
	color: gray;
}

.edit-view .edit-box .popup .edit-value {
	position: relative;
}

.edit-view .edit-box .popup input {
	padding-right: 30px;
}

.edit-view .edit-box .popup .layui-icon {
	font-size: 20px;
    position: absolute;
    right: 5px;
    top: 8px;
    color: #c2c2c2;
}

.popup-view .popup-box .popup-data {
	display: table;
    width: 100%;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #f2f2f2;
}

.popup-view .popup-box .popup-data span {
	display: table-cell;
	padding: 10px 20px;
	width: 50%;
}

.popup-view .popup-box .popup-data .code {
	text-align: left;
}

.popup-view .popup-box .popup-data .name {
	text-align: right;
}
