.employeePage .operating {
	margin: 0px 15px;
}

.employeePage .operating .layui-btn-group button {
	margin-right: 10px !important;
}

.employeePage .layui-table-view .layui-table-box .layui-table-header span {
	font-weight: 600;
}

.employeePage .layui-table-view .layui-table-box tr .item {
	width: 100px;
	min-width: 100px;
	border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 1px;
}

.userPage .layui-table-view .layui-table-box tr .layui-nav-img {
	width: 25px;
    height: 25px;
}

.employeePage .layui-table-view .layui-table-box tr .name {
	min-width: 160px;
}

.employeePage .layui-table-view .layui-table-box tr .department {
	min-width: 180px;
}

.employeePage .layui-table-view .layui-table-box tr .memo {
	width: 100%;
}

.employeePage .layui-table-view .layui-table-box tr .creator,.employeePage .layui-table-view .layui-table-box tr .modifier {
	min-width: 120px;
}

.employeePage .layui-table-view .layui-table-box tr .time-item {
	min-width: 200px;
}

.employeePage .layui-table-view .layui-table-box .employee-data {
	overflow-y: auto;
	overflow-x: hidden;
}

.edit-view .layui-upload-drag {
	padding: 0px;
	border: 0px;
}