.couponPage .operating {
	margin: 0px 15px;
}

.couponPage .operating .layui-btn-group button {
	margin-right: 10px !important;
}

.couponPage .layui-table-view .layui-table-box .layui-table-header span {
	font-weight: 600;
}

.couponPage .layui-table-view .layui-table-box tr .item {
	width: 100px;
	min-width: 100px;
	max-width: 100px;
	border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 1px;
}

.couponPage .layui-table-view .layui-table-box tr .name {
	min-width: 180px;
	max-width: 180px;
}

.couponPage .layui-table-view .layui-table-box tr .useflag {
	min-width: 80px;
	max-width: 80px;
}

.couponPage .layui-table-view .layui-table-box tr .memo {
	width: 100%;
}

.couponPage .layui-table-view .layui-table-box tr .creator,.couponPage .layui-table-view .layui-table-box tr .modifier {
	min-width: 120px;
	max-width: 120px;
}

.couponPage .layui-table-view .layui-table-box tr .time-item {
	min-width: 200px;
	max-width: 200px;
}

.couponPage .layui-table-view .layui-table-box .coupon-data {
	overflow-y: auto;
	overflow-x: hidden;
}

.layui-tab {
	margin: 0;
}

.layui-layer-page .layui-layer-content {
	overflow: unset;
}

.layui-tab-content {
	padding: 0px;
	overflow: auto;
}

.layui-tab-content::-webkit-scrollbar {
	width: 8px;
	height: 2px;
	background: #F0F0F0;
	border-radius: 10px;
}

.layui-tab-content::-webkit-scrollbar-thumb {
	display: block;
	width: 8px;
	margin: 0 auto;
	border-radius: 10px;
	background: #e2e2e2;
}

.suitview {
	text-align: center;
    padding: 15px;
}

.layui-transfer-box {
	text-align: left;
}

.layui-transfer-data::-webkit-scrollbar {
	width: 8px;
	height: 2px;
	background: #F0F0F0;
	border-radius: 10px;
}

.layui-transfer-data::-webkit-scrollbar-thumb {
	display: block;
	width: 8px;
	margin: 0 auto;
	border-radius: 10px;
	background: #e2e2e2;
}

.layui-form-checkbox span {
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 242px;
}

.hidden {
	display: none;
}

.edit-view .colorpicker {
	width: 100px;
    height: 100px;
    display: inline-block;
    margin: 0 !important;
}

.edit-view .colorpicker .layui-colorpicker {
	width: 100px;
    height: 100px;
    border: 0;
    padding: 0;
}

.edit-view .colorpicker .layui-colorpicker .layui-icon {
	display: none;
}

.edit-view .colorpicker .layui-colorpicker .layui-colorpicker-trigger-span {
	border: 0;
}