.groupbuyPage .operating {
	margin: 0px 15px;
}

.groupbuyPage .operating .layui-btn-group button {
	margin-right: 10px !important;
}

.groupbuyPage .layui-table-view .layui-table-box .layui-table-header span
	{
	font-weight: 600;
}

.groupbuyPage .layui-table-view .layui-table-box tr .item {
	width: 100px;
	min-width: 100px;
	max-width: 100px;
	border-top-width: 0;
	border-left-width: 0;
	border-right-width: 0;
	border-bottom-width: 1px;
}

.groupbuyPage .layui-table-view .layui-table-box tr .name {
	min-width: 180px;
	max-width: 180px;
}

.groupbuyPage .layui-table-view .layui-table-box tr .useflag {
	min-width: 80px;
	max-width: 80px;
}

.groupbuyPage .layui-table-view .layui-table-box tr .operationbtn {
	width: 100%;
}

.groupbuyPage .layui-table-view .layui-table-box tr .minimum,
	.groupbuyPage .layui-table-view .layui-table-box tr .ordernumber,
	.groupbuyPage .layui-table-view .layui-table-box tr .orderamount {
	min-width: 100px;
	max-width: 100px;
}

.groupbuyPage .layui-table-view .layui-table-box tr .time-item {
	min-width: 200px;
	max-width: 200px;
}

.groupbuyPage .layui-table-view .layui-table-box .groupbuy-data {
	overflow-y: auto;
	overflow-x: hidden;
}

.operationbtn .layui-btn-group {
	padding-left: 15px;
}

.operationbtn .layui-btn-group .layui-btn {
	margin-right: 4px !important;
}

.sku-view .sku-table .d-photourl {
	width: 40px;
}

.sku-view .sku-table .d-photourl img {
	width: 40px;
	height: 40px;
	object-fit: contain;
}

.sku-view .sku-table .d-code {
	width: 100px;
}

.sku-view .sku-table .d-code input {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
}

.sku-view .sku-table .d-name input {
	border: none;
	color: gray;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: default;
}

.sku-view .sku-table .d-baseprice input, .sku-view .sku-table .d-saleprice input
	{
	color: gray;
	border: none;
	cursor: default;
}

.sku-view .sku-table .d-baseprice, .sku-view .sku-table .d-saleprice,
	.sku-view .sku-table .d-price {
	width: 80px;
}

.sku-view .sku-table .d-operation {
	width: 30px;
}