<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.0.xsd
 	http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop-4.0.xsd 
    http://www.springframework.org/schema/task 
    http://www.springframework.org/schema/task/spring-task-4.0.xsd">
	<!-- 引入属性文件 -->
	<context:property-placeholder location="classpath:config/fast.properties" />

	<!-- 自动扫描(自动注入) -->
	<context:component-scan base-package="com.fast" />
	<!-- 开启这个配置，spring才能识别@Scheduled注解 -->
	<task:annotation-driven scheduler="qbScheduler"
		mode="proxy" />
	<task:scheduler id="qbScheduler" pool-size="10" />
	<bean id="jsonConverter"
		class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
		<property name="supportedMediaTypes" value="application/json" />
	</bean>

	<!-- JDBC配置 -->
	<bean id="jabcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource">
		</property>
	</bean>

	<!-- 配置日志拦截器 -->
	<bean id="logInterceptor" class="com.fast.system.log.LogInterceptor"></bean>

	<aop:config proxy-target-class="true">
		<aop:aspect id="logAspectSYS" ref="logInterceptor">
			<aop:around method="invoke"
				pointcut="execution(public * com.fast.controller..*.*(..))" />
		</aop:aspect>
	</aop:config>

</beans> 