.microPage {
	position: relative;
	height: 100%;
}

/* .microPage .nav-bar {
	margin-bottom: 15px;
} */
.microPage .configureView {
	display: table;
	/*width: 100%;*/
	padding-top: 30px;
}

.microPage .configureView .configurePanel {
	display: table-cell;
	vertical-align: top;
	text-align: center;
}

/**************** left ****************/
.microPage .configureView .leftPanel {
	width: 400px;
	text-align: right;
}

.microPage .configureView .leftPanel .itemBox {
	width: 400px;
	display: inline-block;
}

.microPage .configureView .leftPanel .itemBox .item {
	display: inline-block;
	text-align: center;
	margin: 0px 5px;
	cursor: pointer;
}

.microPage .configureView .leftPanel .itemBox .item .itemImg {
	width: 120px;
	display: block;
}

.microPage .configureView .leftPanel .itemBox .item .itemName {
	margin: 10px;
}

.microPage .configureView .leftPanel .itemBox .coupon {
	float: left;
	margin-left: 15px;
}

/**************** middle ****************/
.microPage .configureView .middlePanel {
	padding: 0px 50px;
	width: 332px;
}

.microPage .configureView .middlePanel .phoneBox {
	background: url(../../images/miniprogram.png) no-repeat center center;
	width: 332px;
	height: 666px;
	min-width: 332px;
	min-height: 666px;
	display: inline-block;
	text-align: center;
}

.microPage .configureView .middlePanel .phoneBox .editView {
	display: inline-block;
	margin-top: 98px;
	width: 322px;
	height: 519px;
	overflow-x: hidden;
	overflow-y: auto;
	background: #f4f4f4;
}

.microPage .configureView .middlePanel .phoneBox .editView::-webkit-scrollbar
	{
	width: 0px;
}

.layui-carousel {
	width: 100%;
	/* height: 160px; */
	height: auto;
}

.layui-carousel img {
	width: 100%;
	object-fit: cover;
	/* max-height: 160px; */
}

.layui-blank {
	height: 5px;
}

.layui-search {
	padding: 5px;
	position: relative;
}

.layui-search i {
	position: absolute;
	left: 10px;
	top: 12px;
	color: grey;
}

.layui-search input {
	padding-left: 26px;
	height: 30px;
	border-radius: 6px;
}

.layui-navigation {
	display: table;
	width: 100%;
	height: 80px;
}

.layui-navigation>div {
	display: table-cell;
	width: 25%;
	vertical-align: middle;
	text-align: center;
}

.layui-navigation>div img {
	width: 100%;
	height: 80px;
	display: inline-block;
	object-fit: contain;
}

.layui-notice .notice {
	height: 30px;
	line-height: 30px;
	text-align: left;
	padding: 0px 5px;
	background: #FFFFFF;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.layui-title {
	position: relative;
	height: 30px;
	background: #FFFFFF;
}

.layui-title .title {
	line-height: 30px;
	text-align: left;
	background: #FFFFFF;
	padding-left: 5px;
}

.layui-title i {
	position: absolute;
	top: 6px;
	right: 0px;
	color: grey;
}

.layui-group .group-title, .layui-classify .classify-title {
	display: table;
	width: 100%;
	background: #FFFFFF;
	line-height: 30px;
}

.layui-group .group-title>div, .layui-classify .classify-title>div {
	display: table-cell;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.layui-group .group-title>div:first-child, .layui-classify .classify-title>div:first-child
	{
	border-bottom: 2px;
	border-bottom-color: #009688;
	border-bottom-style: solid;
}

.layui-group .group-list, .layui-classify .classify-list {
	text-align: left;
	width: 100%;
}

.layui-group .group-list>div, .layui-classify .classify-list>div {
	width: 153px;
	display: inline-block;
	background: #FFFFFF;
	text-align: center;
}

.layui-group .group-list>div:nth-child(1), .layui-classify .classify-list>div:nth-child(1)
	{
	margin: 5px 2.5px 2.5px 5px;
}

.layui-group .group-list>div:nth-child(2), .layui-classify .classify-list>div:nth-child(2)
	{
	margin: 5px 5px 2.5px 2.5px;
}

.layui-group .group-list>div:nth-child(3), .layui-classify .classify-list>div:nth-child(3)
	{
	margin: 2.5px 2.5px 5px 5px;
}

.layui-group .group-list>div:nth-child(4), .layui-classify .classify-list>div:nth-child(4)
	{
	margin: 2.5px 5px 5px 2.5px;
}

.layui-group .group-list>div:nth-child(5), .layui-classify .classify-list>div:nth-child(5)
	{
	margin: 0px 2.5px 5px 5px;
}

.layui-group .group-list>div:nth-child(6), .layui-classify .classify-list>div:nth-child(6)
	{
	margin: 0px 5px 5px 2.5px;
}

.layui-group .group-list>div:nth-child(7), .layui-classify .classify-list>div:nth-child(7)
	{
	margin: 0px 2.5px 5px 5px;
}

.layui-group .group-list>div:nth-child(8), .layui-classify .classify-list>div:nth-child(8)
	{
	margin: 0px 5px 5px 2.5px;
}

.layui-group .group-list>div:nth-child(9), .layui-classify .classify-list>div:nth-child(9)
	{
	margin: 0px 2.5px 2.5px 5px;
}

.layui-group .group-list>div:nth-child(10), .layui-classify .classify-list>div:nth-child(10)
	{
	margin: 0px 5px 2.5px 2.5px;
}

.layui-group .group-list .goods .goodsimg, .layui-classify .classify-list .goods .goodsimg
	{
	display: inline-block;
}

.layui-group .group-list .goods .goodsimg img, .layui-classify .classify-list .goods .goodsimg img
	{
	display: block;
	width: 150px;
	height: 150px;
	object-fit: contain;
}

.layui-group .group-list .goods .goodsinfo>div, .layui-classify .classify-list .goods .goodsinfo>div
	{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: left;
	height: 20px;
	line-height: 20px;
}

.layui-group .group-list .goods .goodsinfo>div:nth-child(1),
	.layui-classify .classify-list .goods .goodsinfo>div:nth-child(1) {
	padding: 5px 5px 2.5px 5px;
}

.layui-group .group-list .goods .goodsinfo>div:nth-child(2),
	.layui-classify .classify-list .goods .goodsinfo>div:nth-child(2) {
	padding: 2.5px 5px 5px 5px;
}

.middlePanel .phoneBox .editView .setItem {
	position: relative;
	overflow: visible;
}

.middlePanel .phoneBox .editView .setItem .layui-group, .middlePanel .phoneBox .editView .setItem .layui-classify
	{
	height: auto !important;
}

.middlePanel .phoneBox .editView .setItem .chooseBox {
	width: calc(100% - 4px);
	height: calc(100% - 4px);
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
}

/**************** right ****************/
.microPage .configureView .rightPanel {
	text-align: left;
	width: 400px;
}

.microPage .configureView .rightPanel .editBox .editItem {
	width: 500px;
}

.microPage .configureView .rightPanel .editBox .editItem .ad {
	padding-bottom: 10px;
}

.microPage .configureView .rightPanel .editBox .editItem .uploadBox {
	position: relative;
	width: 130px;
}

.microPage .configureView .rightPanel .editBox .editItem .selectTitle {
	margin: 5px 0px 0px 0px;
	text-align: left;
	padding: 0px 10px;
	width: 100%;
}

.microPage .configureView .rightPanel .editBox .editItem .selectItem:first-child .selectTitle
	{
	margin: 0px;
}

.microPage .configureView .rightPanel .editBox .editItem .selectBox {
	margin-left: 10px;
	margin-top: 5px;
}

.microPage .configureView .rightPanel .editBox .editItem .layTableCell {
	vertical-align: top;
}

.microPage .configureView .rightPanel .editBox .uploadField .layui-upload-drag
	{
	width: 130px;
	height: 130px;
	padding: 0px;
	position: relative;
}

.microPage .configureView .rightPanel .editBox .uploadField .layui-upload-drag img
	{
	width: 100%;
	height: 130px;
	object-fit: contain;
}

.microPage .configureView .rightPanel .editBox .uploadField .layui-icon
	{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.microPage .configureView .rightPanel .editBox .uploadField .layui-icon-delete
	{
	position: absolute;
	top: auto;
	left: auto;
	right: 0;
	bottom: 0;
	transform: none;
	font-size: 25px;
	color: grey;
	display: none;
	z-index: 99;
	left: auto;
	right: 0;
	bottom: 0;
}

.microPage .configureView .rightPanel .editBox .uploadField .layui-icon-delete:hover
	{
	cursor: pointer;
}

.microPage .configureView .rightPanel .editBox .uploadField .layui-upload-drag .dragImg
	{
	width: 100%;
	display: block;
}

.microPage .configureView .rightPanel .editBox .uploadField .layui-form .layui-form-item
	{
	margin-bottom: 0px;
}

.microPage .configureView .rightPanel .editBox .editItem .blockTitle {
	text-align: left;
	padding-left: 0px;
	width: 100%;
}

.microPage .configureView .rightPanel .editBox .editItem .blockInput {
	display: block;
	margin-left: 0px;
}

.microPage .configureView .rightPanel .editBox .editItem .blockInput input
	{
	width: 360px;
}

.microPage .configureView .rightPanel .editBox .editItem .selectBlock input
	{
	width: 360px;
}

.microPage .configureView .rightPanel .editBox .editItem .selectBlock .selectTitle
	{
	padding-left: 0px;
}

.microPage .configureView .rightPanel .editBox .editItem .selectBlock .selectBox
	{
	margin-left: 0px;
}

.microPage .configureView .rightPanel .editBox .editItem .cascadeSelect input
	{
	width: 178px;
}

.middlePanel .phoneBox .editView .setItem .choose-view {
	border: 2px;
	border-color: orange;
	border-style: solid;
	z-index: 99;
	display: block;
}

.middlePanel .phoneBox .editView .setItem .deleteIcon {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 20px;
	display: none;
	z-index: 99;
	cursor: pointer;
}

.microPage .configureView .middlePanel .phoneBox .editView {
	display: none;
}

.rightPanel .editBox {
	display: none;
}

.layui-layer-title {
	font-weight: bold;
}

.rightPanel .editBox .layui-form-item .layui-input-inline {
	width: 290px;
}

.rightPanel .editBox .cascade input {
	padding-right: 10px;
}

.microPage .configureView .rightPanel .editBox .editItem .columntitle .selectTitle
	{
	padding-left: 0px;
}

.microPage .configureView .rightPanel .editBox .editItem .columntitle .selectBox
	{
	margin-left: 0px;
}

.rightPanel .editBox .columntitle .layui-form-item .layui-input-inline {
	width: 360px;
}

.microPage .configureView .rightPanel .editBox .editItem .category .selectBlock .selectTitle
	{
	margin-bottom: 5px;
}

.category .cascade .cascade-value {
	display: block;
}

.category .cascade .cascade-value .edit-value {
	display: block;
	padding-left: 10px;
	padding-top: 5px;
}

.microPage .configureView .rightPanel .editBox .editItem .group .selectBlock .selectTitle
	{
	margin-bottom: 5px;
}

.microPage .configureView .rightPanel .editBox .editItem .goods .selectBlock .selectTitle
	{
	margin-bottom: 5px;
}

.rightPanel .popup .value, .rightPanel .cascade .value {
	color: grey;
}

.rightPanel .goods .goodsBox>div {
	display: inline-block;
	position: relative;
	margin-right: 10px;
	margin-top: 10px;
	vertical-align: middle;
}

.rightPanel .goods .goodsBox .layui-upload-drag {
	padding: 0px;
	width: 140px;
}

.rightPanel .goods .goodsBox .layui-upload-drag img {
	width: 100%;
	height: 130px;
	object-fit: contain;
}

.rightPanel .goods .uploadBox .layui-icon-delete {
	position: absolute;
	top: auto;
	left: auto;
	right: 0;
	bottom: 0;
	transform: none;
	font-size: 25px;
	color: grey;
	display: none;
	z-index: 99;
	left: auto;
	right: 0;
	bottom: 0;
	cursor: pointer;
}

.rightPanel .iconAdd {
	height: 80px;
	width: 150px;
	line-height: 120px;
	position: relative;
}

.rightPanel .goods .iconAdd {
	height: auto;
}

.rightPanel .iconAdd .layui-icon-add-circle {
	font-size: 50px;
	color: #c2c2c2;
	cursor: pointer;
	vertical-align: middle;
}

.rightPanel .selectGoods {
	height: 130px;
}

.rightPanel .selectGoods .goodsinput {
	width: 100%;
	height: 150px;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.rightPanel .selectGoods .goodsPhoto {
	border: 1px dashed #e2e2e2;
	width: 130px;
	height: 130px;
}

.rightPanel .selectGoods .goodsPhoto img {
	width: 130px;
	height: 130px;
	object-fit: contain;
}

.microButton {
	display: inline-block;
	position: absolute;
	bottom: 10px;
	padding-left: 10px;
}

.microButton .btn {
	line-height: 30px;
	height: 30px;
}

.microButton .save {
	height: 30px;
	width: 50px;
	color: #FFFFFF;
	border: 0px;
	cursor: pointer;
}

.microPage .configureView .rightPanel .editBox .coupon .uploadBox {
	width: 130px;
	height: 130px;
}

.rightPanel .coupon .uploadBox {
	width: 130px;
	height: 130px;
	display: inline-block;
	vertical-align: top;
}

.rightPanel .coupon .uploadBox .layui-upload-drag {
	width: 150px;
	height: 150px;
	padding: 0;
}

.rightPanel .coupon .uploadBox .layui-upload-drag .layui-icon img {
	width: 150px;
	height: 150px;
	object-fit: contain;
}

.rightPanel .coupon .uploadBox .layui-upload-drag .layui-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.rightPanel .coupon .selectBlock {
	width: 250px;
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
}

.rightPanel .coupon .uploadBox .layui-icon-delete {
	position: absolute;
	top: auto;
	left: auto;
	right: 0;
	bottom: 0;
	transform: none;
	font-size: 25px;
	color: grey;
	display: none;
	z-index: 99;
	left: auto;
	right: 0;
	bottom: 0;
}

.microPage .configureView .rightPanel .editBox .coupon .selectBlock input
	{
	width: 100%;
}

.rightPanel .coupon .uploadField {
	padding-bottom: 10px;
}