.miniprogramPage .operating {
	margin: 0px 15px;
}

.miniprogramPage .operating .layui-btn-group button {
	margin-right: 10px !important;
}

.miniprogramPage .layui-table-view .layui-table-box .layui-table-header span {
	font-weight: 600;
}

.miniprogramPage .layui-table-view .layui-table-box tr .item {
	width: 100px;
	min-width: 100px;
	max-width: 100px;
	border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 1px;
}

.miniprogramPage .layui-table-view .layui-table-box tr .name {
	min-width: 160px;
	max-width: 160px;
}

.miniprogramPage .layui-table-view .layui-table-box tr .useflag {
	min-width: 80px;
	max-width: 8px;
}

.miniprogramPage .layui-table-view .layui-table-box tr .publicplatform {
	min-width: 180px;
	max-width: 180px;
}

.miniprogramPage .layui-table-view .layui-table-box tr .memo {
	width: 100%;
}

.miniprogramPage .layui-table-view .layui-table-box tr .creator,.miniprogramPage .layui-table-view .layui-table-box tr .modifier {
	min-width: 120px;
	max-width: 120px;
}

.miniprogramPage .layui-table-view .layui-table-box tr .time-item {
	min-width: 200px;
	max-width: 200px;
}

.miniprogramPage .layui-table-view .layui-table-box .miniprogram-data {
	overflow-y: auto;
	overflow-x: hidden;
}

.edit-view .layui-upload-drag {
	padding: 0px;
	border: 0px;
}