.sizePage .operating {
	margin: 0px 15px;
}

.sizePage .operating .layui-btn-group button {
	margin-right: 10px !important;
}

.sizePage .layui-table-view .layui-table-box .layui-table-header span {
	font-weight: 600;
}

.sizePage .layui-table-view .layui-table-box tr .item {
	width: 100px;
	min-width: 100px;
	border-top-width: 0;
	border-left-width: 0;
	border-right-width: 0;
	border-bottom-width: 1px;
}

.sizePage .layui-table-view .layui-table-box tr .name {
	min-width: 180px;
}

.sizePage .layui-table-view .layui-table-box tr .value {
	min-width: 200px;
}

.sizePage .layui-table-view .layui-table-box tr .memo {
	width: 100%;
}

.sizePage .layui-table-view .layui-table-box tr .creator, .sizePage .layui-table-view .layui-table-box tr .modifier
	{
	min-width: 120px;
}

.sizePage .layui-table-view .layui-table-box tr .time-item {
	min-width: 200px;
}

.sizePage .layui-table-view .layui-table-box .size-data {
	overflow-y: auto;
	overflow-x: hidden;
	height: 620px;
}
